
{% extends 'base.html'%}

{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    
{% for post in featured_posts %}
{% if forloop.first %}
<div class="jumbotron text-white"
     style="background-image: url({{ post.featured_image.url }});">

  <div class="content col-md-8">
    <h1>{{ post.title }}</h1>
    <p>{{ post.short_description|truncatewords:20 }}</p>
    <a href="{% url 'blogs' post.slug %}" class="read-btn">Read More</a>
  </div>

</div>
{% endif %}
{% endfor %}
  
  <!-- Featured posts -->
<h3 class="section-title">Featured Posts</h3>

<div class="row">
{% for post in featured_posts %}
{% if not forloop.first %}
<div class="col-md-6">
  <div class="blog-card">
    <img src="{{ post.featured_image.url }}" alt="">

    <div class="blog-card-body">
      <div class="blog-meta">
        {{ post.created_at|timesince }} ago • {{ post.author }}
      </div>

      <h4>
        <a href="{% url 'blogs' post.slug %}">
          {{ post.title }}
        </a>
      </h4>

      <p>{{ post.short_description|truncatewords:15 }}</p>

      <a href="{% url 'blogs' post.slug %}" class="read-btn">Read More</a>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
   

  <!---recent articles-->
  <h3 class="section-title">Recent Articles</h3>

<div class="row">
<div class="col-md-8">
{% for post in posts %}
<div class="blog-card">
  <img src="{{ post.featured_image.url }}" alt="">

  <div class="blog-card-body">
    <div class="blog-meta">
      {{ post.created_at|timesince }} ago • {{ post.author }}
    </div>

    <h4>
      <a href="{% url 'blogs' post.slug %}">
        {{ post.title }}
      </a>
    </h4>

    <p>{{ post.short_description|truncatewords:20 }}</p>

    <a href="{% url 'blogs' post.slug %}" class="read-btn">Read More</a>
  </div>
</div>
{% endfor %}
</div>
      <!-- /.blog-main -->

<div class="col-md-4">

  <div class="sidebar-box">
    <h4>{{ about.about_heading }}</h4>
    <p>{{ about.about_description }}</p>
  </div>

  {% if social_links %}
  <div class="sidebar-box">
    <h4>Follow Us</h4>
    <ul>
      {% for i in social_links %}
      <li><a href="{{ i.link }}" target="_blank">{{ i.platform }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>
</div>
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->

</div>
{% endblock %}