{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/add_post_style.css' %}">

<div class="row">

  <!-- SIDEBAR -->
  {% include 'dashboard/sidebar.html' %}

  <!-- MAIN CONTENT -->
  <div class="col-md-9">

    <!-- BACK -->
    <a href="#" class="back-btn">← Back to Posts</a>

    <!-- FORM CARD -->
    <div class="form-card">

      <h2 class="form-title">Create New Post</h2>

      <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="submit-btn">
         Publish Post
        </button>

      </form>

    </div>

  </div>

</div>

{% endblock %}