{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/categories_style.css' %}">

<div class="row">

  <!-- SIDEBAR -->
  {% include 'dashboard/sidebar.html' %}

  <!-- MAIN CONTENT -->
  <div class="col-md-9">

    <!-- HEADER -->
    <div class="page-header">
      <h2 class="section-title-box">All Categories</h2>
      <a href="{% url 'add_category' %}" class="add-btn">+ Add New</a>
    </div>

    <!-- TABLE CARD -->
    <div class="table-card">

      <table class="table table-hover align-middle">

        <thead>
          <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Created</th>
            <th>Updated</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>

        <tbody>

          {% for cat in categories %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><b>{{ cat }}</b></td>
            <td>{{ cat.created_at }}</td>
            <td>{{ cat.updated_at }}</td>

            <td class="text-center action-icons">
              <a href="{% url 'edit_category' cat.id %}" class="edit">✏️</a>
              <a href="{% url 'delete_category' cat.id %}" class="delete">🗑️</a>
            </td>
          </tr>
          {% endfor %}

        </tbody>

      </table>

    </div>

  </div>

</div>

{% endblock %}