{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/add_category_style.css' %}">

<div class="row">

  <!-- SIDEBAR -->
  {% include 'dashboard/sidebar.html' %}

  <!-- MAIN CONTENT -->
  <div class="col-md-9">

    <!-- BACK BUTTON -->
    <!--<a href="{% url 'categories' %}" class="back-btn">← Back to Categories</a>-->

    <!-- FORM CARD -->
    <div class="form-card">

      <h2 class="form-title">Edit Category</h2>

      <form action="{% url 'edit_category' category.id %}" method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="submit-btn">
          Submit
        </button>
      </form>

    </div>

  </div>

</div>

{% endblock %}